body {
  font-family: 'Helvetica Neue';
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
}

/* Canvases stuff */

.canvases-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: center;
}

#image-board {
  z-index: 1;
  position: absolute;
}

#text-board {
  z-index: 2;
  position: absolute;
}

#input-board {
  position: absolute;
  opacity: 0;
  z-index: 3;
}
